<table border="0" class="dataframe table">
  <thead>
    <tr style="text-align: left;">
      <th></th>
      <th></th>
      <th>bytes</th>
      <th>frames</th>
    </tr>
    <tr>
      <th>src</th>
      <th>dst</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>141.52.58.163</th>
      <th>224.0.0.251</th>
      <td>9200</td>
      <td>8</td>
    </tr>
    <tr>
      <th>141.52.59.68</th>
      <th>143.204.214.90</th>
      <td>6111</td>
      <td>9</td>
    </tr>
    <tr>
      <th>141.52.58.169</th>
      <th>224.0.0.251</th>
      <td>5085</td>
      <td>20</td>
    </tr>
    <tr>
      <th>141.52.59.68</th>
      <th>224.0.0.251</th>
      <td>2600</td>
      <td>4</td>
    </tr>
    <tr>
      <th>fe80::ce98:8bff:fe24:9e75</th>
      <th>ff02::fb</th>
      <td>2355</td>
      <td>10</td>
    </tr>
    <tr>
      <th>141.52.59.147</th>
      <th>224.0.0.251</th>
      <td>2060</td>
      <td>5</td>
    </tr>
    <tr>
      <th>fe80::ea8e:f644:748d:5f1d</th>
      <th>ff02::fb</th>
      <td>1304</td>
      <td>4</td>
    </tr>
    <tr>
      <th>141.52.58.77</th>
      <th>141.52.59.255</th>
      <td>1190</td>
      <td>2</td>
    </tr>
    <tr>
      <th>141.52.58.51</th>
      <th>141.52.59.255</th>
      <td>1088</td>
      <td>7</td>
    </tr>
    <tr>
      <th rowspan="3" valign="top">141.52.59.68</th>
      <th>205.185.208.52</th>
      <td>973</td>
      <td>3</td>
    </tr>
    <tr>
      <th>209.197.3.15</th>
      <td>953</td>
      <td>9</td>
    </tr>
    <tr>
      <th>52.70.236.77</th>
      <td>838</td>
      <td>6</td>
    </tr>
    <tr>
      <th>141.52.58.15</th>
      <th>141.52.59.255</th>
      <td>702</td>
      <td>3</td>
    </tr>
    <tr>
      <th>141.52.58.27</th>
      <th>141.52.59.255</th>
      <td>699</td>
      <td>3</td>
    </tr>
    <tr>
      <th>141.52.58.37</th>
      <th>141.52.59.255</th>
      <td>699</td>
      <td>3</td>
    </tr>
    <tr>
      <th>141.52.58.35</th>
      <th>141.52.59.255</th>
      <td>699</td>
      <td>3</td>
    </tr>
    <tr>
      <th>141.52.58.30</th>
      <th>141.52.59.255</th>
      <td>699</td>
      <td>3</td>
    </tr>
    <tr>
      <th>141.52.58.26</th>
      <th>141.52.59.255</th>
      <td>699</td>
      <td>3</td>
    </tr>
    <tr>
      <th>141.52.58.17</th>
      <th>141.52.59.255</th>
      <td>699</td>
      <td>3</td>
    </tr>
    <tr>
      <th>141.52.58.54</th>
      <th>224.0.0.251</th>
      <td>644</td>
      <td>1</td>
    </tr>
    <tr>
      <th>141.52.59.68</th>
      <th>192.229.133.221</th>
      <td>525</td>
      <td>7</td>
    </tr>
    <tr>
      <th>fe80::74a8:b1c1:9ee7:d1da</th>
      <th>ff02::fb</th>
      <td>516</td>
      <td>4</td>
    </tr>
    <tr>
      <th>141.52.58.115</th>
      <th>224.0.0.251</th>
      <td>488</td>
      <td>1</td>
    </tr>
    <tr>
      <th rowspan="10" valign="top">141.52.59.68</th>
      <th>143.204.214.119</th>
      <td>473</td>
      <td>6</td>
    </tr>
    <tr>
      <th>79.125.105.113</th>
      <td>473</td>
      <td>6</td>
    </tr>
    <tr>
      <th>46.51.179.90</th>
      <td>473</td>
      <td>6</td>
    </tr>
    <tr>
      <th>91.207.172.187</th>
      <td>473</td>
      <td>6</td>
    </tr>
    <tr>
      <th>172.217.23.142</th>
      <td>459</td>
      <td>6</td>
    </tr>
    <tr>
      <th>172.217.21.202</th>
      <td>459</td>
      <td>6</td>
    </tr>
    <tr>
      <th>172.217.18.163</th>
      <td>459</td>
      <td>6</td>
    </tr>
    <tr>
      <th>172.217.16.174</th>
      <td>459</td>
      <td>6</td>
    </tr>
    <tr>
      <th>216.58.206.10</th>
      <td>459</td>
      <td>6</td>
    </tr>
    <tr>
      <th>216.58.206.14</th>
      <td>459</td>
      <td>6</td>
    </tr>
    <tr>
      <th>141.52.58.116</th>
      <th>224.0.0.251</th>
      <td>421</td>
      <td>1</td>
    </tr>
    <tr>
      <th rowspan="4" valign="top">141.52.59.68</th>
      <th>35.170.168.237</th>
      <td>421</td>
      <td>3</td>
    </tr>
    <tr>
      <th>54.84.21.207</th>
      <td>421</td>
      <td>3</td>
    </tr>
    <tr>
      <th>52.7.153.97</th>
      <td>419</td>
      <td>3</td>
    </tr>
    <tr>
      <th>52.87.135.151</th>
      <td>419</td>
      <td>3</td>
    </tr>
    <tr>
      <th>141.52.58.14</th>
      <th>224.0.0.251</th>
      <td>406</td>
      <td>1</td>
    </tr>
    <tr>
      <th>104.20.133.40</th>
      <th>141.52.59.68</th>
      <td>399</td>
      <td>6</td>
    </tr>
    <tr>
      <th>141.52.59.68</th>
      <th>172.217.21.196</th>
      <td>393</td>
      <td>5</td>
    </tr>
    <tr>
      <th>104.19.196.151</th>
      <th>141.52.59.68</th>
      <td>369</td>
      <td>3</td>
    </tr>
    <tr>
      <th>fe80::aae8:3ce7:d6dc:eb47</th>
      <th>ff02::fb</th>
      <td>298</td>
      <td>2</td>
    </tr>
    <tr>
      <th>141.52.58.62</th>
      <th>141.52.59.255</th>
      <td>276</td>
      <td>3</td>
    </tr>
    <tr>
      <th>141.52.58.46</th>
      <th>141.52.59.255</th>
      <td>276</td>
      <td>3</td>
    </tr>
    <tr>
      <th>169.254.101.114</th>
      <th>169.254.255.255</th>
      <td>276</td>
      <td>3</td>
    </tr>
    <tr>
      <th>141.52.58.13</th>
      <th>141.52.59.255</th>
      <td>276</td>
      <td>3</td>
    </tr>
    <tr>
      <th>141.52.58.150</th>
      <th>141.52.59.255</th>
      <td>276</td>
      <td>3</td>
    </tr>
    <tr>
      <th>141.52.58.20</th>
      <th>141.52.59.255</th>
      <td>276</td>
      <td>3</td>
    </tr>
    <tr>
      <th>141.52.58.82</th>
      <th>141.52.59.255</th>
      <td>276</td>
      <td>3</td>
    </tr>
    <tr>
      <th>141.52.58.43</th>
      <th>141.52.59.255</th>
      <td>276</td>
      <td>3</td>
    </tr>
    <tr>
      <th>141.52.58.44</th>
      <th>141.52.59.255</th>
      <td>276</td>
      <td>3</td>
    </tr>
    <tr>
      <th>141.52.58.45</th>
      <th>141.52.59.255</th>
      <td>276</td>
      <td>3</td>
    </tr>
    <tr>
      <th>141.52.58.28</th>
      <th>141.52.59.255</th>
      <td>276</td>
      <td>3</td>
    </tr>
    <tr>
      <th>141.52.58.83</th>
      <th>141.52.59.255</th>
      <td>276</td>
      <td>3</td>
    </tr>
    <tr>
      <th>141.52.58.84</th>
      <th>141.52.59.255</th>
      <td>276</td>
      <td>3</td>
    </tr>
    <tr>
      <th>141.52.59.131</th>
      <th>255.255.255.255</th>
      <td>259</td>
      <td>1</td>
    </tr>
    <tr>
      <th>141.52.58.171</th>
      <th>224.0.0.251</th>
      <td>258</td>
      <td>2</td>
    </tr>
    <tr>
      <th>fe80::c09:6251:49ce:a6bc</th>
      <th>ff02::fb</th>
      <td>254</td>
      <td>1</td>
    </tr>
    <tr>
      <th>141.52.59.157</th>
      <th>255.255.255.255</th>
      <td>246</td>
      <td>1</td>
    </tr>
    <tr>
      <th>141.52.59.170</th>
      <th>141.52.59.255</th>
      <td>243</td>
      <td>1</td>
    </tr>
    <tr>
      <th>141.52.59.119</th>
      <th>141.52.59.255</th>
      <td>243</td>
      <td>1</td>
    </tr>
    <tr>
      <th>141.52.58.187</th>
      <th>224.0.0.251</th>
      <td>234</td>
      <td>1</td>
    </tr>
    <tr>
      <th>141.52.58.125</th>
      <th>255.255.255.255</th>
      <td>188</td>
      <td>1</td>
    </tr>
    <tr>
      <th>141.52.58.109</th>
      <th>255.255.255.255</th>
      <td>180</td>
      <td>3</td>
    </tr>
    <tr>
      <th>141.52.58.55</th>
      <th>224.0.0.251</th>
      <td>178</td>
      <td>1</td>
    </tr>
    <tr>
      <th>141.52.58.140</th>
      <th>224.0.0.251</th>
      <td>173</td>
      <td>1</td>
    </tr>
    <tr>
      <th>141.52.58.53</th>
      <th>224.0.0.251</th>
      <td>171</td>
      <td>1</td>
    </tr>
    <tr>
      <th>141.52.59.13</th>
      <th>141.52.59.255</th>
      <td>168</td>
      <td>2</td>
    </tr>
    <tr>
      <th>fe80::f788:9807:ad51:5953</th>
      <th>ff02::fb</th>
      <td>165</td>
      <td>1</td>
    </tr>
    <tr>
      <th>fe80::250:56ff:feb7:daff</th>
      <th>ff02::fb</th>
      <td>165</td>
      <td>1</td>
    </tr>
    <tr>
      <th>fe80::250:56ff:fe9a:853c</th>
      <th>ff02::fb</th>
      <td>165</td>
      <td>1</td>
    </tr>
    <tr>
      <th>141.52.58.61</th>
      <th>224.0.0.251</th>
      <td>161</td>
      <td>1</td>
    </tr>
    <tr>
      <th>141.52.58.211</th>
      <th>224.0.0.251</th>
      <td>161</td>
      <td>1</td>
    </tr>
    <tr>
      <th>141.52.58.33</th>
      <th>141.52.59.68</th>
      <td>136</td>
      <td>2</td>
    </tr>
    <tr>
      <th>fe80::a359:5b09:8541:f1ca</th>
      <th>ff02::fb</th>
      <td>129</td>
      <td>1</td>
    </tr>
    <tr>
      <th>141.52.58.121</th>
      <th>255.255.255.255</th>
      <td>120</td>
      <td>2</td>
    </tr>
    <tr>
      <th>141.52.58.252</th>
      <th>141.52.59.255</th>
      <td>92</td>
      <td>1</td>
    </tr>
    <tr>
      <th>141.52.58.119</th>
      <th>141.52.59.255</th>
      <td>92</td>
      <td>1</td>
    </tr>
    <tr>
      <th>141.52.58.187</th>
      <th>141.52.59.255</th>
      <td>86</td>
      <td>1</td>
    </tr>
    <tr>
      <th>141.52.59.12</th>
      <th>141.52.59.255</th>
      <td>82</td>
      <td>1</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">141.52.58.48</th>
      <th>141.52.59.255</th>
      <td>82</td>
      <td>1</td>
    </tr>
    <tr>
      <th>255.255.255.255</th>
      <td>82</td>
      <td>1</td>
    </tr>
    <tr>
      <th>141.52.59.12</th>
      <th>255.255.255.255</th>
      <td>82</td>
      <td>1</td>
    </tr>
    <tr>
      <th>141.52.58.159</th>
      <th>224.0.0.251</th>
      <td>75</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
